.themePopup {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: #232323;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    top: 0;
    left: 0;
}
.themePopup p {
    z-index: 11;
}
#popupDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#themesDiv {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.perThemeDiv{
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#themeSplit {
    display: flex;
    flex-direction: row;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.themeTitle {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.themeImg {
    border-radius: 10px;
    max-width: 170px;
    width: 20vw;
}